- const discord = 'https://discord.com/invite/vYE5yBv';
- const twitter = 'https://twitter.com/woofwisc';
- const facebook = 'https://www.facebook.com/groups/775503146349264';

- const calendar = 'events.html';
- const photos = 'https://www.flickr.com/groups/madisonwoof/pool/';
- const about = 'index.html';

doctype html
html(lang=en)
  head
    title WOOF
    meta(name="description", content="Information website for WOOF, the Wisconsin Organization of Furries")
    meta(name="robots" content="index, follow")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='assets/style.css')

  body
    block content
      .head
        .header
            .logobox 
                img(src='assets/pawlogo_t.png')
                h1 WOOF
            nav 
                a(href=about)
                    h3.link About 
                a(href=calendar)
                    h3.link Calendar 
                a(href=photos)
                    h3.link Photos
                a(href=discord target='_blank' rel='noopener noreferrer')
                    h3.link Discord
