- const DISCORD = 'https://discord.com/invite/vYE5yBv';
- const TWITTER = 'https://twitter.com/woofwisc';
- const FACEBOOK = 'https://www.facebook.com/groups/775503146349264';

- const EVENTS = 'events.html';
- const PHOTOS = 'https://www.flickr.com/groups/madisonwoof/pool/';
- const ABOUT = 'index.html';

doctype html
html(lang=en)
  head
    title WOOF
    meta(name="description", content="Information website for WOOF, the Wisconsin Organization of Furries")
    meta(name="robots" content="index, follow")
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='assets/style.css')

  body
    block content
      .head
        .header
            .logobox 
                img(src='assets/pawlogo_t.png')
                h1 WOOF
            nav 
                a(href=ABOUT)
                    h3.link About
                a(href=EVENTS)
                    h3.link Events 
                a(href=PHOTOS)
                    h3.link Photos
                a(href=DISCORD target='_blank' rel='noopener noreferrer')
                    h3.link Discord